<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Propl User's Guide</title>
  <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search resu...">

  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="canonical" href="http://localhost:4000/">
  <link rel="alternate" type="application/rss+xml" title="Propl User's Guide" href="/feed.xml">


</head>

<body>

  <header class="site-header" role="banner">
    <div class="wrapper">
      <p> Propl User&#39;s Guide</p>
    </div>
  </header>

<!-- content was here -->
<div class="grid">
  <div class="container">
    <div class="row">

      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">Getting Started</div>
          <div class="panel-body">
            <p>About Propl</p>
        </div>
        <div class="panel-footer">
          <a href="/first/2017/05/26/Getting-Started.html" class="button">read more.</a>
        </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">The Navigation Bar</div>
          <div class="panel-body">
            <p>Features of the navigation bar</p>
        </div>
        <div class="panel-footer">
          <a href="/first/2017/05/26/The-Navigation-Bar.html" class="button">read more.</a>
        </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">Account Settings</div>
          <div class="panel-body">
          <p>How to manage your account</p>
        </div>
        <div class="panel-footer">
        <a href="/first/2017/05/26/Account-Settings.html" class="button">read more</a>
      </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">Dashboard</div>
          <div class="panel-body">
            <p>Statistics about your business</p>
        </div>
        <div class="panel-footer">
        <a href="/first/2017/05/26/Dashboard.html" class="button">read more</a>
      </div>
    </div>
</div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">Products</div>
          <div class="panel-body">
          <p>Managing products</p>
        </div>
        <div class="panel-footer">
        <a href="/first/2017/05/26/Products.html" class="button">read more</a>
      </div>
      </div>
      </div>

      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">Orders</div>
          <div class="panel-body">
            <p>List of orders</p>
          </div>
          <div class="panel-footer">
          <a href="/first/2017/05/26/Orders.html" class="button">read more</a>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">Calendar</div>
            <div class="panel-body">
              <p>Manage dates and time</p>
        </div>
        <div class="panel-footer">
          <a href="/first/2017/05/26/Calendar.html" class="button">read more</a>
        </div>
      </div>
    </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">Customer</div>
          <div class="panel-body">
            <p>Customer details</p>
        </div>
        <div class="panel-footer">
          <a href="/first/2017/05/26/Customer.html" class="button">read more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">Stock</div>
        <div class="panel-body">
          <p>Manage Inventory.</p>
      </div>
      <div class="panel-footer">
        <a href="/first/2017/05/26/Stock.html" class="button">read more</a>
      </div>
    </div>
    </div>
  </div>
</div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">Base Camp</div>
          <div class="panel-body">
            <p>Factory and Shipping modes.</p>
        </div>
        <div class="panel-footer">
          <a href="/first/2017/05/26/Base-Camp.html" class="button">read more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">SMS Blast</div>
          <div class="panel-body">
            <p>Send sms to all (requires credits)</p>
        </div>
        <div class="panel-footer">
          <a href="/first/2017/05/26/SMS-Blast.html" class="button">read more</a>
        </div>
      </div>
    </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">Offers</div>
          <div class="panel-body">
            <p>Managing Offers</p>
          </div>
          <div class="panel-footer">
            <a href="/first/2017/05/26/Offers.html "class="button">read more</a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading">Reports</div>
              <div class="panel-body">
                <p>Generate reports</p>
              </div>
              <div class="panel-footer">
                <a href="/first/2017/05/26/Reports.html" class="button">read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        </div>

        </div>
      </div>
    </div>

          </div>
        </main>


    </body>
</html>
